{% extends 'base.html' %}

{% block title %}

    index

{% endblock %}

{% block content %}



    <h2 style="font-family: 'Playfair Display', serif; text-align: center;"><i>universe</i> - all of space and time and their contents, including planets, stars, galaxies, and all other forms of matter and energy</h2>
    <h6 style="font-family: 'Playfair Display', serif; text-align: center; color: #516e99b2">(and also the fandom name of a k-pop band called "Pentagon")</h6>

    <p style="text-align: center;"><a class="nav-link" href="/questions">
        <img src="http://png.pngtree.com/png-clipart/20210404/original/pngtree-green-watercolor-planet-floating-in-the-universe-starry-sky-png-image_6188538.png" style="width:80px;">
    </a></p>
    <h6 style="font-family: 'Playfair Display', serif; text-align: center;">press this planet to find more songs by pentagon</h6>
<br>

<div class="imgbox" style="text-align: center;">
    <img class="center-fit" src="https://i.pinimg.com/originals/af/4f/83/af4f8359d83d37284949cbd6c5730739.jpg">
</div>

{% endblock %}