{% extends 'base.html' %}

{% block title %}

    result

{% endblock %}

{% block content %}

		<h2 style="font-family: 'Playfair Display', serif; text-align: center;">here is a song for you</h2>
            <h6 style="font-family: 'Playfair Display', serif;text-align: center;">you got "{{song.song_name}}" </h6>
            <h6 style="font-family: 'Playfair Display', serif; text-align: center;">you can check it out by tapping the pic below! </h6>
            <p style="text-align: center;"><a href="{{link}}">
                <img src="https://kartinkin.net/uploads/posts/2022-12/1670530112_5-kartinkin-net-p-kartinka-pauzi-vkontakte-8.png" style="width:100px;">
            </a></p>
            <h6 style="font-family: 'Playfair Display', serif;text-align: center; color:#516e99b2"> the link may turn out to be broken – try going back and reloading this page several times if that is the case </h6>

{% endblock %}